*{  
   font-family: 'Kanit', sans-serif;
   box-sizing: border-box;
   }
body{
    font-family: $mainFont;
    background-color: $white;
 }
 h1{
    font-size: $textLg;
    color:$secondaryColor
 }
 h2{
    font-size: $textMd;
    color:$subColor
 }
 p{
    font-size: $textSm;
    line-height: 1.4em;
    }
header img {
    width: 100%;
    height: auto;
    margin: 0px;
    }
.text-center{
    text-align: center;
    }
