.contenedor-entorno{
    background-color: $bgEntorno;
    width: auto;
    height: auto;
    margin: 30px 10px;
    padding: 10px;
    border: solid 2px $keyColor;
    text-align: center;
    }
.entorno{
    font-size: $textEntorno;
}
.link-entorno{
    display: flex;
    justify-content: space-around;
}
.entorno-speech{
    text-decoration: none;
    color: $keyColor;
}
.card{
    padding: 10px;
}