header img {
    width: 100%;
    height: auto;
    margin: 0px;
    }
    .contenedor-inicio{
        width: auto;
        height: auto;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        }
    .presentacion{
        background-color: $bgInicio;
        width: auto;
        height: auto;
        margin: 30px 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .speech{
        text-align: center;
        font-size: 1.3em;
        line-height:2.5em;
    }
    .img-inicio{
        border: solid 1px $navBorder;
        padding: 0%;
    }
    .inicio{
        max-width: 100%;
        height: auto;
    }