nav{
    @include nav($mainColor,$textSm,size 100%,10px,10px,solid 1px $navBorder);
    ul li a {
        text-decoration: none;
        color:$navText;
        margin-right: 30px;
    }
 }


footer{
    @include nav($mainColor,$textSm,size 100%,10px,10px,solid 1px $navBorder);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div{
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 35px;
        margin-left: 10px;
    }
}