//variables globales

//colores
$mainColor:rgb(124, 184, 94);
$secondaryColor:rgb(14, 59, 8);
$keyColor:rgb(15, 14, 14);
$white:rgb(252, 252, 252);
$subColor: rgb(17, 73, 10);


//fonts
$mainFont:'Kanit', sans-serif;
$secondaryFont:verdana, sans-serif;

//sizing
$textSm:1.2em;
$textMd:2em;
$textLg:3.5em;
$textXl:2em;

//weight
$textBold:600;
$textLight:300;
$textRegular:400;

